.env
venv/

app/memory.json
app/batches.json

uploads/
chroma_db/

.claude/

app/audio/outputs/conversation/*
!app/audio/outputs/conversation/.gitkeep
app/audio/outputs/podcasts/*
!app/audio/outputs/podcasts/.gitkeep
